<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Hello", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Signup", "#" %></li>
              <li><%= link_to "Login", "#" %></li>
            </ul>
          <% end %> 
        </ul>   
      </nav>
  </div>
</header>
